.container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 0;
}

.element {
    display: flex;
}

.element3 {
    display: flex;
}
.title2 {
    font-size: 45px;
    margin: 0px;
    padding-top: 25px;
    font-weight: 800;
    line-height: 1.1;
    text-align: center;
    color: #fff;
}
.list {
    overflow: hidden;
    width: 600px;
    height: 240px;
    background: rgb(60, 62, 68);
    border-radius: 0.5rem;
    margin: 0.75rem;
    box-shadow: rgb(0 0 0 / 10%) 0px 4px 6px -1px, rgb(0 0 0 / 6%) 0px 2px 4px -1px;
}

.img {
    display: block;
    object-position: left center;
    object-fit: contain;
    width: 240px;
    height: 240px;
    margin: 0px;
    margin-right: 10px;
}

.right_column {
    padding: 0px;
    color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
}

.title {
    font-size: 30px;
    margin: 0px;
    padding-left: 4px;
    padding-top: 4px;
    font-weight: 800;
    line-height: 1.1;
    cursor: pointer;
}

.title:hover {
    color: rgb(255, 152, 0);
}

.status {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    text-transform: capitalize;
    font-size: 23px;
    font-weight: 500;
    margin: 0px;
    padding-left: 4px;
    padding-bottom: 10px;
}

.subtitle {
    color: rgb(158, 158, 158);
    font-size: 20px;
    font-weight: 500;
    margin: 0px;
    padding-left: 4px;
    padding-top: 10px;

}

.link {
    text-decoration: none;
    margin: 0;
    padding: 0;
    color: #fff;
}

@media screen and (max-width: 640px) {
    .element {
        flex-direction: column;
    }

    .img {
        margin-right: 0;
        margin: 0 auto;
        width: 100%;
        height: auto;
    }

    .list {
        height: auto;
        width: 100%;
    }

    .element2 {
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin-bottom: 50px;
        margin-top: 50px;
    }

    .title {
        text-align: center;
        margin-top: 16px;
    }
    .subtitle {
        padding-left: 7px;
        padding-top: 0;
    }
    .status{
        padding-left: 0;
        padding-right: 7px;
        padding-bottom: 0;
    }
}