.container {
    height: 530px;
    background-color: #fff;
    padding-left: 20px;
    padding-right: 20px;
}

.nav {
    display: flex;
    justify-content: space-between;
    /* padding-left: 20px;
    padding-right: 20px; */
    align-items: center;
    padding-top: 30px;
    padding-left: 65px;
    padding-right: 65px;
}



/* .ico{
    max-width: 900px;
    display: block;
    margin: 0 auto;
    padding-top: 40px;
} */
.title {
    text-align: center;
    font-size: 60px;
    font-family: serif;
}

.ram {
    text-align: center;
    font-size: 90px;
    font-family: serif;
    font-weight: 900;
    padding-top: 27px;
}

.list {
    font-size: 35px;
    color: #000;
    text-decoration: none;
    font-weight: 700;
    margin: 0;
    transition: all 0.1s ease 0s;
}

.link {
    text-decoration: none;
    margin: 0;
}
.link_f{
    text-decoration: none;
    margin: 0;
    display: flex;
}

.list:hover {
    color: rgb(255, 152, 0);
}
.counter{
    text-align: center;
    font-size: 25px;
    color: rgb(255, 152, 0);
    padding: 10px;


}

@media screen and (max-width: 769px) {
    .nav {
        display: flex;
        flex-direction: column;
    }

    .link {
        width: 100%;
        border-bottom: 1px solid rgb(32, 35, 41);
        text-align: center;
        padding-top: 7px;
        padding-bottom: 7px;

    }

    .ram {
        font-size: 50px;
    }

    .title {
        font-size: 50px;
    }
}




@media screen and (max-width: 479px) {
    .ram {
        font-size: 40px;
    }

    .title {
        font-size: 40px;
    }
}

