
.link{
    color: #fff;
    font-size: 30px;
    text-decoration: none;
    display: flex;
    text-align: left;
    align-items: center;
    position: fixed;
    margin-left: 65px;
    margin-top: 110px;
}
.ico{
    width: 50px;
}
.link:hover{
    color: rgb(255, 152, 0);
}

@media screen and (max-width: 1510px) {
    .container{
        display: none;
    }
}